<div fxFlex fxLayout="row">

  <div fxLayout="column" class="container-fluid">

    <div class="row">
      <h2 align="center" class="section-heading text-uppercase">КОНТАКТЫ</h2>
    </div>

    <div fxFlex="100" fxLayoutAlign="center" fxLayoutGap="20px">

      <div fxLayout="column" fxFlex="50">

        <div class="map">
          <iframe src="https://yandex.com/map-widget/v1/-/CBu-7SUoPB"
                  frameborder="1"
                  width="100%"
                  height="100%"
                  allowfullscreen="true">
          </iframe>
        </div>

        <mat-card class="contacts-card" [ngStyle]="{'margin':'10px 0'}">

          <mat-list>

            <mat-list-item>
              <mat-icon color="accent" mat-list-icon>phone</mat-icon>
              <p mat-line class="contacts"> +7-499-391-13-63</p>
              <mat-divider [ngStyle]="{'background':'#edd07a'}"></mat-divider>
            </mat-list-item>


            <mat-list-item>
              <mat-icon color="accent" mat-list-icon>pin_drop</mat-icon>
              <p mat-line class="contacts"> 107113, Москва, Сокольнический вал, 2А</p>
              <mat-divider [ngStyle]="{'background':'#edd07a'}"></mat-divider>
            </mat-list-item>


            <mat-list-item>
              <mat-icon color="accent" mat-list-icon>alternate_email</mat-icon>
              <p mat-line class="contacts">inbox@ka-triumf.ru</p>
            </mat-list-item>

          </mat-list>

        </mat-card>

      </div>

      <div fxLayout="column" fxFlex="50">

        <mat-card class="contacts-card" >

          <p class="contacts" [ngStyle]="{'text-align':'center'}">
            Вы всегда можете задать свой вопрос онлайн и мы свяжемся с вами в кратчайшие сроки.
          </p>

        </mat-card>

        <mat-card class="contacts-card" [ngStyle]="{'margin':'10px 0'}">

          <mat-card-content>
            <form autocomplete="off">

              <div class="input-row">

                <mat-form-field appearance="outline" color="accent" fxFlex>
                  <mat-label>Имя</mat-label>
                  <input matInput placeholder="">
                </mat-form-field>

              </div>

              <div class="input-row">

                <mat-form-field appearance="outline" color="accent" fxFlex>
                  <mat-label>Фамилия</mat-label>
                  <input matInput placeholder="">
                </mat-form-field>

              </div>

              <div class="input-row">

                <mat-form-field appearance="outline" color="accent" fxFlex>
                  <mat-label>Почта</mat-label>
                  <input matInput placeholder="">
                </mat-form-field>

              </div>

              <div class="input-row">

                <mat-form-field appearance="outline" color="accent" fxFlex>
                  <mat-label>Ваш вопрос:</mat-label>
                  <textarea matInput
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="3"
                            cdkAutosizeMaxRows="3"
                            placeholder=""></textarea>
                </mat-form-field>

              </div>

            </form>
          </mat-card-content>

          <mat-card-actions align="end">
            <button type="button" mat-stroked-button color="accent">ОТПРАВИТЬ</button>
          </mat-card-actions>

        </mat-card>

      </div>

    </div>

  </div>

</div>
