<div fxFlex fxLayout="row">

  <div fxLayout="column" class="container">

    <div class="row">
      <div class="col-xs-12 text-center" fxFlex="100">
        <h2 class="section-heading text-uppercase">КОНТАКТЫ</h2>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" [ngStyle]="{'margin':'10px 0'}">
        <mat-card class="contacts-card">

          <mat-card-content>
            <mat-list>

              <mat-list-item>
                <mat-icon fxHide fxShow.gt-xs color="accent" mat-list-icon>phone</mat-icon>
                <p mat-line class="contacts"> +7-495-015-51-15</p>
                <mat-divider [ngStyle]="{'background':'#edd07a'}"></mat-divider>
              </mat-list-item>


              <mat-list-item>
                <mat-icon fxHide fxShow.gt-xs color="accent" mat-list-icon>pin_drop</mat-icon>
                <p mat-line class="contacts">
                  107113, Москва, <br fxHide fxShow.lt-sm>
                  Сокольнический вал, 2А</p>
                <mat-divider [ngStyle]="{'background':'#edd07a'}"></mat-divider>
              </mat-list-item>


              <mat-list-item>
                <mat-icon fxHide fxShow.gt-xs color="accent" mat-list-icon>alternate_email</mat-icon>
                <p mat-line class="contacts">inbox@ca-triumph.ru</p>
                <mat-divider [ngStyle]="{'background':'#edd07a'}"></mat-divider>
              </mat-list-item>

            </mat-list>

            <div [ngStyle]="{'height': init ? '100px' : '50vh'}">
              <iframe src="https://yandex.ru/map-widget/v1/-/CBBSYRaHhD"
                      width="100%"
                      height="100%"
                      frameborder="1"
                      #iframe
                      (load)="iframeLoaded()"
                      allowfullscreen="true"></iframe>
            </div>

          </mat-card-content>


        </mat-card>
      </div>

    </div>

  </div>

</div>

