<div fxFlex fxLayout="row">

  <div fxLayout="column" class="container">

    <div class="row">
      <div class="col-xs-12 text-center" fxFlex="100">
        <h2 class="section-heading text-uppercase">КОНТАКТЫ</h2>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" [ngStyle]="{'margin':'10px 0'}">
        <mat-card class="contacts-card">

          <mat-card-content>
            <mat-list>

              <mat-list-item>
                <mat-icon fxHide fxShow.gt-xs color="accent" mat-list-icon>phone</mat-icon>
                <p mat-line class="contacts"> +7-499-391-13-63</p>
                <mat-divider [ngStyle]="{'background':'#edd07a'}"></mat-divider>
              </mat-list-item>


              <mat-list-item>
                <mat-icon fxHide fxShow.gt-xs color="accent" mat-list-icon>pin_drop</mat-icon>
                <p mat-line class="contacts">
                  115191, Москва, <br fxHide fxShow.lt-sm>
                  Гамсоновский переулок д.2</p>
                <mat-divider [ngStyle]="{'background':'#edd07a'}"></mat-divider>
              </mat-list-item>


              <mat-list-item>
                <mat-icon fxHide fxShow.gt-xs color="accent" mat-list-icon>alternate_email</mat-icon>
                <p mat-line class="contacts">inbox@ca-triumph.ru</p>
                <mat-divider [ngStyle]="{'background':'#edd07a'}"></mat-divider>
              </mat-list-item>

            </mat-list>

            <div class="map">
              <iframe src="https://yandex.com/map-widget/v1/-/CBu-7SUoPB"
                      frameborder="1"
                      width="100%"
                      height="100%"
                      allowfullscreen="true">
              </iframe>
            </div>

          </mat-card-content>

        </mat-card>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" [ngStyle]="{'margin':'10px 0'}">
        <mat-card class="contacts-card">

          <form [formGroup]="form" novalidate autocomplete="off" (ngSubmit)="submit(form.getRawValue())">

          <mat-card-content>

              <div class="input-row">
                ОБРАТНАЯ СВЯЗЬ
              </div>

              <div class="input-row">

                <mat-form-field appearance="outline" color="accent" fxFlex>
                  <mat-label>Имя</mat-label>
                  <input matInput placeholder="" formControlName="firstName">
                  <mat-error *ngIf="form.get('firstName').hasError('required')" [ngStyle]="{'font-size': '10px'}">
                    Поле обязательно для заполнения
                  </mat-error>
                </mat-form-field>

              </div>

              <div class="input-row">

                <mat-form-field appearance="outline" color="accent" fxFlex>
                  <mat-label>Фамилия</mat-label>
                  <input matInput place holder="" formControlName="lastName">
                  <mat-error *ngIf="form.get('lastName').hasError('required')" [ngStyle]="{'font-size': '10px'}">
                    Поле обязательно для заполнения
                  </mat-error>
                </mat-form-field>

              </div>

              <div class="input-row">

                <mat-form-field appearance="outline" color="accent" fxFlex>
                  <mat-label>Почта</mat-label>
                  <input matInput placeholder="" formControlName="email">
                  <mat-error *ngIf="form.get('email').hasError('required')" [ngStyle]="{'font-size': '10px'}">
                    Поле обязательно для заполнения
                  </mat-error>
                  <mat-error *ngIf="form.get('email').hasError('email')" [ngStyle]="{'font-size': '10px'}">
                    Неправильный почтовый адресс
                  </mat-error>
                </mat-form-field>

              </div>

              <div class="input-row">

                <mat-form-field appearance="outline" color="accent" fxFlex>
                  <mat-label>Ваш вопрос:</mat-label>
                  <textarea matInput
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="3"
                            cdkAutosizeMaxRows="3"
                            formControlName="message"
                            placeholder="">
                  </textarea>
                  <mat-error *ngIf="form.get('message').hasError('required')" [ngStyle]="{'font-size': '10px'}">
                    Поле обязательно для заполнения
                  </mat-error>
                </mat-form-field>

              </div>

          </mat-card-content>

          <mat-card-actions fxLayoutAlign="center center">
            <button fxFlex="90" type="submit" mat-stroked-button color="accent">ОТПРАВИТЬ</button>
          </mat-card-actions>

          </form>

        </mat-card>
      </div>

    </div>

  </div>

</div>

