<mat-toolbar class="sticky-header">

  <mat-toolbar-row>

      <div fxLayout="row wrap" fxLayoutGap="2rem" fxLayoutAlign="space-around center" [ngStyle]="{'margin':'0 auto'}">
        <button mat-flat-button class="custom-style" color="accent">УСЛУГИ</button>
        <button mat-flat-button class="custom-style" color="accent">ПОРТФОЛИО</button>
        <button mat-flat-button class="custom-style" color="accent">О НАС</button>
        <button mat-flat-button class="custom-style" color="accent">КОНТАКТЫ</button>
      </div>

  </mat-toolbar-row>

  <!--<button mat-button [matMenuTriggerFor]="menu">Menu</button>-->

</mat-toolbar>

<!--<mat-menu #menu="matMenu">-->
  <!--<button mat-menu-item>Услуги</button>-->
  <!--<button mat-menu-item>Портфолио</button>-->
  <!--<button mat-menu-item>О нас</button>-->
  <!--<button mat-menu-item>Контакты</button>-->
<!--</mat-menu>-->
