<div class="container-fluid">

  <div class="col-lg-12 text-center">
    <h2 class="section-heading text-uppercase">УСЛУГИ</h2>
  </div>

  <div class="row" [ngStyle]="{'justify-content':'space-evenly'}">

    <mat-card [ngStyle]="{'width':'360px', 'margin':'10px'}">
      <p>Взыскание долга</p>
    </mat-card>

    <mat-card [ngStyle]="{'width':'360px', 'margin':'10px'}">
      <p>Исполнительное производство</p>
    </mat-card>

    <mat-card [ngStyle]="{'width':'360px', 'margin':'10px'}">
      <p>Административное производство</p>
    </mat-card>

  </div>

  <div class="row" [ngStyle]="{'justify-content':'space-evenly'}">

    <mat-card [ngStyle]="{'width':'360px', 'margin':'10px'}">
      <p>Абонентское обслуживание организаций</p>
    </mat-card>

    <mat-card [ngStyle]="{'width':'360px', 'margin':'10px'}">
      <p>Дела о несостоятельности (банкротстве)</p>
    </mat-card>

    <mat-card [ngStyle]="{'width':'360px', 'margin':'10px'}">
      <p>Гражданские дела</p>
    </mat-card>

  </div>

  <div class="row" [ngStyle]="{'justify-content':'space-evenly'}">

    <mat-card [ngStyle]="{'width':'360px', 'margin':'10px'}">
      <p>Защита прав потребителей</p>
    </mat-card>

    <mat-card [ngStyle]="{'width':'360px', 'margin':'10px'}">
      <p>Земельные споры</p>
    </mat-card>

    <mat-card [ngStyle]="{'width':'360px', 'margin':'10px'}">
      <p>Наследственное право</p>
    </mat-card>

  </div>

  <div class="row" [ngStyle]="{'justify-content':'space-evenly'}">

    <mat-card [ngStyle]="{'width':'360px', 'margin':'10px'}">
      <p>Налоговые споры</p>
    </mat-card>

    <mat-card [ngStyle]="{'width':'360px', 'margin':'10px'}">
      <p>Семейные споры</p>
    </mat-card>

    <mat-card [ngStyle]="{'width':'360px', 'margin':'10px'}">
      <p>Авторское право</p>
    </mat-card>

  </div>
</div>


