<div fxFlex fxLayout="row">

  <div fxLayout="column" class="container" >

    <div class="row">
      <div class="col-xs-12 text-center" fxFlex="100">
        <h2 class="section-heading text-uppercase">УСЛУГИ</h2>
      </div>
    </div>

    <div class="row" [ngStyle]="{'justify-content':'space-evenly'}"
         *ngIf="activated">
      <div *ngFor="let item of services; let i = index; let even = even;" >
        <mat-card class="service-card"
                  (click)="showDescription(item)"
                  [ngStyle]="{'width':'400px', 'margin':'10px'}">
          <p>{{item.name}}</p>
        </mat-card>
      </div>
    </div>

  </div>

</div>
