<div class="container-fluid">

  <div class="row">

    <div class="col-lg-6">

      <div class="intro-text">
        <div><img src="assets/logo_final3.png" [ngStyle]="{'width':'50vw'}"></div>
        <div class="intro-lead-in">Aut viam inveniam aut faciam</div>
        <!--<div class="intro-heading text-uppercase">Или я найду дорогу или проложу ее</div>-->
        <!--<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Узнать больше</a>-->
      </div>

    </div>

    <div class="col-lg-6"></div>
  </div>

</div>
