.company-text {

  position: absolute;
  bottom: 20px;

  width: 100%;
  font-size: 4.5vh;

  color: #be9238;

  background: -webkit-linear-gradient(#edd079, #a16e13);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.tagline {
  vertical-align: bottom;
  display: inline-grid;
}
