$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$link-hover-decoration: none;    // remove underline from button links

$link-color: #3f51b5;            // set link color based on the used material theme
$link-hover-color: currentColor;

@import '~@angular/material/theming';
@include mat-core();

$mat-custom-palette: (
  50 : #fdf9ef,
  100 : #faf1d7,
  200 : #f6e8bd,
  300 : #f2dea2,
  400 : #f0d78e,
  500 : #edd07a,
  600 : #ebcb72,
  700 : #e8c467,
  800 : #e5be5d,
  900 : #e0b34a,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff1d3,
  A700 : #ffe9b9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-app-primary: mat-palette($mat-blue-grey, 500, 300, 700);
$my-app-accent: mat-palette($mat-custom-palette, 500, 600, 700);
$my-app-warn: mat-palette($mat-red, A700);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);


$app-primary-color: map-get($my-app-primary, default);

$app-accent-color:  map-get($my-app-accent, default);
$app-warn-color:  map-get($my-app-warn, default);

$app-color-primary: $app-primary-color;

$app-text-primary-color: #111;

$app-text-secondary-color: #757575;

$app-text-muted-color: #BDBDBD;

$app-icon-color: $app-text-secondary-color;

$app-element-hover-color: #efecec;

$app-body-background-color: #fafafa;

$app-header-background-color: white;

$app-element-width-300: 300px;

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  ::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@include angular-material-theme($my-app-theme);
@include scrollbars(.4em, $app-text-muted-color);
