/* You can add global styles to this file, and also import other style files */
@import "styles-variables";

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant');

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

*, ::after, ::before {
  /* box-sizing: border-box; */
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: 'Cormorant Infant', serif;
}
body {
  color: #fff;
  text-align: center;

  background: rgba(255,255,255,1);
}

header.home {
  /* The image used */
  background:linear-gradient(rgba(125,125,125,0.1), rgba(125,125,125,0.4), rgba(250,250,250,1)), url("assets/justice-back.jpg");

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

@media (min-width: 768px) {
  header.home {
    height: 100%;
    overflow-y: hidden
  }
}


header.home::before {
  filter: brightness(50%);
}

section.services, section.about, section.contacts {
  min-height: 500px;
}

section.services h2, section.about h2, section.contacts h2 {
  color: #be9238;

  background: -webkit-linear-gradient(#edd079, #a16e13);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.services, section.about {
  padding: 24px;

  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #f9f9f9), color-stop(50%, #f9f9f9), color-stop(100%, #f9fafa));
  background: -webkit-linear-gradient(left, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  background: -o-linear-gradient(left, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  background: -ms-linear-gradient(left, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  background: linear-gradient(to right, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );

}

section.contacts {
  background: linear-gradient(rgba(249, 249, 249, 1), rgba(249, 249, 249, 0.1), rgba(255, 255, 255, 0.1)), url("assets/contact_us_web.jpg");

  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;

}

/* sticky toolbar */

.sticky-header {
  position: absolute;
  top: 0;
  z-index: 1000;
  background-color: transparent;
}

/* app footer */
footer {
  min-height: 50px;
  display: block;
  width: 100%;
  position: absolute;
  margin-top: -15px;

  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #f9f9f9), color-stop(50%, #f9f9f9), color-stop(100%, #f9fafa));
  background: -webkit-linear-gradient(left, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  background: -o-linear-gradient(left, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  background: -ms-linear-gradient(left, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  background: linear-gradient(to right, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

.logo {
  width: 200px;
}

.nav-link {
  padding: 1.1em 1em!important;
}


/* header styles */

h2.section-heading {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 15px;
}

.intro-text {
  position: absolute;
  top: 30%;
}
