/* You can add global styles to this file, and also import other style files */
@import "styles-variables";
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant');

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #cea952;
}

*, ::after, ::before {
  /* box-sizing: border-box; */
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: 'Cormorant Infant', serif;

  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(left, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #f9f9f9), color-stop(50%, #f9f9f9), color-stop(100%, #f9fafa));
  background: -webkit-linear-gradient(left, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  background: -o-linear-gradient(left, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  background: -ms-linear-gradient(left, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  background: linear-gradient(to right, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
}

body {
  //color: #fff;
  text-align: center;

  background: rgba(255, 255, 255, 1);
}

section.home {
  /* The image used */
  background: linear-gradient(rgba(125, 125, 125, 1), rgba(125, 125, 125, 0.1), rgba(125, 125, 125, 1)), url("assets/home.jpg");
}

section.services {
  /* The image used */
  background: linear-gradient(rgba(125, 125, 125, 1), rgba(125, 125, 125, 0.1), rgba(125, 125, 125, 1)), url("assets/services.jpg");
}

section.about {
  /* The image used */
  background: linear-gradient(rgba(125, 125, 125, 1), rgba(125, 125, 125, 0.1), rgba(125, 125, 125, 1)), url("assets/about-us-web.jpg");
}

section.contacts {
  /* The image used */
  background: linear-gradient(rgba(125, 125, 125, 1), rgba(125, 125, 125, 0.1), rgba(125, 125, 125, 1)), url("assets/contact-us.jpg");
}

@media (min-width: 768px) {
  section.home, section.services, section.about, section.contacts {
    min-height: -webkit-fill-available;
    overflow-y: hidden
  }
}

section.home, section.services, section.about, section.contacts {
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

section.home::before, section.services::before, section.about::before, section.contacts::before {
  filter: brightness(50%);
}

section.home, section.services, section.about, section.contacts {
  padding: 64px 24px 24px;;
}

section.home, section.contacts {
  height: -webkit-fill-available;
}

section.services h2, section.about h2, section.contacts h2 {
  color: #be9238;

  background: -webkit-linear-gradient(#edd079, #a16e13);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* sticky toolbar */

.sticky-header {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #0000004d;
}

/* app footer */
footer {
  min-height: 50px;
  display: block;
  width: 100%;
  position: absolute;
  margin-top: -15px;

  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(left, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #f9f9f9), color-stop(50%, #f9f9f9), color-stop(100%, #f9fafa));
  background: -webkit-linear-gradient(left, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  background: -o-linear-gradient(left, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  background: -ms-linear-gradient(left, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  background: linear-gradient(to right, #f9f9f9 0%, #f9f9f9 50%, #f9fafa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
}

.logo {
  width: 200px;
}

.nav-link {
  padding: 1.1em 1em !important;
}

/* header styles */

h2.section-heading {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 15px;
  width: 100%;
}

.intro-text {
  position: absolute;
  top: 35%;
  left: 5%;
}

.brand-home-image {
  width: 45vw;
}

@media screen and (max-width: 959px) {
  .intro-text {
    top: 20% !important;
    left: 5%;
  }

  .brand-home-image {
    width: 80vw !important;
  }
}

.service-card, .info-card {
  box-shadow: 0 3px 1px -2px #d5b15a, 0 2px 2px 0 #c09641, 0 1px 5px 0 #b88c36 !important;
}

.contacts-card {
  background-color: #0000004d;
  box-shadow: 0 3px 1px -2px #d5b15a, 0 2px 2px 0 #c09641, 0 1px 5px 0 #b88c36 !important;
}

.service-card:hover {
  background-color: #262f32;
  color: #cea952;
  font-weight: bold;
  cursor: pointer;
}

.mat-card {
  color: rgba(0, 0, 0, 0.6);
}

::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
  background-color: blue !important;
}

mat-list .mat-list-item .mat-list-icon, .mat-list .mat-list-option .mat-list-icon, .mat-nav-list .mat-list-item .mat-list-icon, .mat-nav-list .mat-list-option .mat-list-icon, .mat-selection-list .mat-list-item .mat-list-icon, .mat-selection-list .mat-list-option .mat-list-icon {
  width: 48px !important;
  height: 48px !important;
  font-size: 48px !important;
}


.map {
  height: 50vh;
}


.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #edd07a;
}

.mat-form-field-label {
  color: #edd07a;
}
